/* Navbar Container */
.navbar {
    background-color: var(--splunk-background-default);
    color: var(--splunk-text-default);
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Logo Container */
.logo-container {
    display: flex;
    align-items: center;
}

/* Logo Image */
.navbar-logo-image {
    height: 55px; /* Adjust logo height */
    width: auto; /* Maintain aspect ratio */
    margin-right: 10px;
}

/* App Title */
.navbar-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--splunk-text-default);
}

/* Navigation Links */
.navbar-link {
    color: var(--splunk-text-default);
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar-link:hover {
    background-color: var(--splunk-background-secondary);
}
